.alert {
    padding: 2px 0;
    margin-bottom: 0;
    text-align: center;
    width: 60px;
    color: #00d97f;
    background-color: #cbf7e5;
    border: none;

}

.nav-bottom {
    position: relative;
    bottom: 10vh;
}

button {
    align-self: auto;
}